@use '../abstracts/variables' as vars;

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: vars.$colorHeader;
  padding: 1em;
  z-index: 1;

  &__branding {
    max-width: 240px;
    background-color: vars.$colorSecondary;

  }

  &__container {
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    &__list {
      display: flex;
      gap: .5rem;
    }

    &__link{
      padding: 0.5rem 1rem ;
      color: vars.$colorSecondary;
      background-color: vars.$colorHeader;
      border-radius: 1rem;
    }
  }

  @media (max-width: 768px) {
    &__branding {
      max-width: 100px;
      background-color: vars.$colorSecondary;
    }
    &__container {
      padding: 0.1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__nav {
      &__list {
        display: flex;
        gap: .5rem;
      }

      &__link{
        padding: 0.2rem .5rem ;
        color: vars.$colorSecondary;
        background-color: vars.$colorHeader;
        border-radius: .5rem;
      }
    }
  }
}

