.hero {
  position: relative;
  height: 100%;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__logo {
    position: absolute;
    top: 2em;
    left: 16em;
    max-width: 22em;
    filter: brightness(0) saturate(100%) invert(100%);
  }

  &__list {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    top: 55em;
    left: 12em;
    transform: translateY(-50%);


    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image {
      max-width: 6em;
      min-width: 6em;
      height: auto;
      background-color: transparent;
      filter: brightness(0) saturate(100%) invert(100%);
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
  @media (max-width: 768px) {
    &__logo {
      position: absolute;
      top: 1em;
      left: 4em;
      max-width: 6em;
      filter: brightness(0) saturate(100%) invert(100%);
    }

    &__list {
      display: flex;
      gap: .3em;
      align-items: center;
      justify-content: flex-start;

      position: absolute;
      top: 16em;
      left: 4em;
      transform: translateY(-50%);


      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__image {
        max-width: 1.5em;
        min-width: 1.5em;
        height: auto;
        background-color: transparent;
        filter: brightness(0) saturate(100%) invert(100%);
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
