@use '../abstracts/variables' as vars;

.btn {

  &--secondary {
    background-color: vars.$colorAlternative;
    color: vars.$colorPrimary;
    &:hover {
      background-color: lighten(vars.$colorAlternative, 5%);
    }
  }

  &--link {
    &:hover {
      background-color: vars.$colorPlay;
    }
  }
}
